.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 25px;
    right: 25px;
    background-color: #25D366;
    color: white;
    border-radius: 50%;
    text-align: center;
    font-size: 28px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
}

.whatsapp-float:hover {
    transform: scale(1.1);
    background-color: #1ebe5d;
}